
button{
    text-decoration: none;

   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: aqua;
margin-left: 100px;
border: none;
border-radius: 3px;
height: 35px;



}
hr{
   border: 1px solid black;
    
    color:black
}
 body {
            background: url('login3.jpg') no-repeat center center;
            background-size: cover;
            position: relative;
           background-attachment: fixed;
            

          
        }
        
        
form{
   margin-top: 10%;
   margin-left: 30%;
   margin-right: 30%;
    border: 1px  groove rgb(245, 42, 42);
    display: block;
    justify-content: space-between;
    border-radius: 5px;
    padding: 30px;
    height: 300px;
    width: 350px;
    opacity: 0.7;
    background-color: aquamarine;
   
    
}
label{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   color: black;
    text-decoration: bold;
    
  
  


}
input[type=text],[type=password],[type=submit]{
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    height: 30px;
    width: 300px;
    outline:none;
    text-decoration: bold;
    font-size: larger;
    
    

}
#checkbox{
    display: flex;
  padding-left: 10px;
  padding-right: 3px;
}
p{
    margin-left: 3px;
    
    font-size: larger;
}
footer{
    margin-top: 400px;
    height: 50px;
}
header{
   
   border: 2px solid snow;
   background-color: snow;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 40px;
   position: fixed;

  
  
   

}
img {
    height: fit-content;
    width: auto;
    
}
h5, h6, h1{
    color: white;
}
h1{
    text-align: center;
   padding-top: 200px;
   font-size: 60px;
}
#navigation {
  display: inline;
    top: 2px;
   text-align: center;


   
    
}
